@import url('https://fonts.googleapis.com/css?family=Exo:100,400,400i,500');
$font-thin: 100 60px/1.25 'Exo',
serif;
$font-regular: 400 16px 'Exo',
serif;
$font-medium: 500 16px 'Exo',
serif;
$color-primary: #282828;
$color-sub-header: #ff6d6d;
@mixin font_regular-italic {
    font-weight: 400;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

body {
    text-align: center;
}

p {
    letter-spacing: 1px;
    color: $color-primary;
    font: $font-medium;
    padding: 0 0 32px 0;
    opacity: 0.66;
}

h2 {
    letter-spacing: 2px;
    font: $font-medium;
    color: $color-primary;
    font-size: 40px;
    padding: 0 0 48px 0;
    .color_red {
        color: $color-sub-header;
    }
}

h3 {
    letter-spacing: 3px;
    color: $color-sub-header;
    font: $font-medium;
    padding: 0 0 8px 0;
}

.font_regular-italic {
    @include font_regular-italic;
    color: #D2D3D5;
}

.new-features {
    background: {
        image: url(../img/new-features.jpg);
        repeat: no-repeat;
        size: contain;
        position: center;
        color: #F6F5F3;
    }
    display: flex;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 110px;
}

.content-block {
    display: flex;
    flex-direction: row;
}

.title {
    padding-bottom: 70px;
    &__name {
        font-size: 40px;
        font-weight: normal;
    }
    &__text {
        color: #ff6d6d;
        font-weight: normal;
    }
}

.item {
    max-width: 380px;
    padding: 10px;
    &__picture {
        padding-bottom: 10px;
    }
    &__name {
        font-weight: normal;
        font-size: 22px;
    }
    &__text {
        color: #6E6E6D;
        padding-top: 10px;
    }
    &-block {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        margin-top: -15px;
    }
}

.feedback {
    background-image: url(../img/feedback&logos-background.jpg);
    background-size: cover;
    &-name {
        color: #fff;
    }
    &-content {
        padding-bottom: 140px;
    }
}

.footer {
    background-image: url(../img/footer-background.jpg);
    background-size: cover;
    padding: 30px 300px 30px 130px;
    &-wrapper {
        display: flex;
        justify-content: space-between;
    }
    &-link {
        text-decoration: none;
        color: #A3A4A6;
        padding: 5px;
    }
    &-element {
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 25px;
        padding-left: 40px;
    }
    &-adress {
        color: #A3A4A6;
    }
    &-email {
        padding: 10px 20px;
        background-color: #F6F6F6;
        border: 1px solid #A3A4A6;
        width: 220px;
        &::-webkit-input-placeholder {
            color: #A3A4A6;
        }
        &-block {
            position: relative;
        }
    }
    &-submit {
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: #FE7777;
        border: 1px solid #A3A4A6;
        box-shadow: 0px 2px 2px #A3A4A6;
        &-img {
            padding: 5px;
        }
    }
}

.social-networks {
    text-align: center;
    margin-top: 10px;
    &-logo {
        padding: 10px;
    }
}

.startEx {
    text-align: left;
    max-width: 300px;
    &-block {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
}

.intro-section {
    width: 100%;
    height: 100vh;
    background: url("../img/background-init.png") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .intro-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__header {
            max-width: 750px;
            font: $font-thin;
            letter-spacing: 2px;
            text-align: center;
            margin: 0 0 40px 0;
        }
        &__video {
            width: 59px;
            height: 59px;
            border-radius: 50%;
            background-color: #f3f5f7;
            margin: 0 0 38px 0;
        }
        &__button {
            text-decoration: none;
            color: #fff;
            font: $font-regular;
            line-height: 50px;
            text-align: center;
            width: 190px;
            border-radius: 3px;
            background-color: #ff6d6d;
            text-transform: uppercase;
            margin: 0 0 16px 0;
        }
        &__additional-text {
            font: $font-regular;
            font-size: 14px;
            letter-spacing: 1px;
            color: $color-primary;
        }
    }
}

.new-design-section {
    width: 100%;
    background-color: #fff;
    display: flex;
    position: relative;
    padding: 156px 0;
    &:after {
        width: 40%;
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background: url("../img/rectangle.png") no-repeat left bottom;
        background-size: cover;
    }
    .container__frame {
        width: 50%;
        text-align: left;
        padding-left: 20px;
    }
}

.container__frame {
    text-align: left;
}

.footer-link-block {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.resposive-design-section {
    background: url("../img/background-design.png") no-repeat right bottom;
    background-size: cover;
    padding: 92px 0px 92px 60px;
}

.container {
    margin: 0 auto;
    display: flex;
    max-width: 1170px;
    padding: 0 20px;
    &__section {
        width: 50%;
        text-align: left;
        padding: 36px 16px;
        &_background_macbook {
            padding: 0;
        }
    }
    &__macbook {
        margin: 0 0 0 -88px;
    }
}

.browser-section {
    background-color: #f6f5f3;
    p {
        padding: 0;
    }
    &__container {
        flex-direction: column;
        align-items: center;
    }
    &__frame {
        padding: 100px 0;
        max-width: 720px;
        text-align: center;
    }
}

.try-now-section {
    background-color: #323969;
    padding: 0 0 76px 0;
    &__container {
        flex-direction: column;
        align-items: center;
    }
    &__text-section {
        padding: 100px 0 32px 0;
        max-width: 720px;
        text-align: center;
    }
    h2 {
        padding: 0;
        color: #fff;
    }
    .form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 16px 46px 16px;
        &__input-wrapper {
            padding: 0 14px;
            width: 100%;
        }
        &__input {
            background-color: #464c77;
            color: #f6f5f3;
            width: 100%;
            height: 50px;
            border-radius: 3px;
            border: 1px solid #999cb4;
            font: $font-regular;
            padding: 0 0 0 28px;
            &:focus {
                outline-width: 0;
                border: 2px solid #7D80C4;
            }
            &::-webkit-input-placeholder {
                color: #f6f5f3;
            }
            &:focus::-webkit-input-placeholder {
                color: transparent;
            }
        }
        &__submit {
            font: $font-regular;
            border: none;
            background-color: #ff6d6d;
            color: #f6f5f3;
            border-radius: 3px;
            width: 100%;
            height: 50px;
        }
        .submit-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding: 0 14px;
            &__text {
                padding: 0 0 0 24px;
                margin-bottom: -14px;
            }
            &__image {
                padding: 0 0 16px 0;
            }
        }
    }
    p {
        font: $font-regular;
        color: #f6f5f3;
        a {
            color: #f6f5f3;
        }
    }
}

@media (max-width: 920px) {
    .content-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .item {
        min-width: 380px;
    }
}

@media (max-width: 880px) {
    .item {
        max-width: none;
    }
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .startEx {
        max-width: none;
    }
    .footer-element {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 10px;
        flex-wrap: wrap;
    }
    .item-block {
        padding-right: 15px;
    }
    .footer-link-block {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .footer-email-content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .item-block {
        margin-top: 10px;
    }
}

@media (max-width: 1300px) {
    .footer {
        padding-right: 130px;
    }
    // .startEx {
    //     display: flex;
    //     flex-direction: row;
    //     max-width: none;
    // }
}

@media screen and (max-width: 1024px) {
    .footer-email-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .new-features {
        background-image: none;
    }
    .content-wrapper {
        display: flex;
        margin: 50px;
    }
    .feedback {
        background-image: url(../img/feedback-background.jpg);
        &-content {
            padding-bottom: 0px;
        }
    }
    .footer-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .intro-section {
        .intro-content__header {
            font: 100 50px/1.25 'Exo', serif;
        }
    }
    .new-design-section {
        padding: 78px 0;
        &::after {
            display: none;
        }
        .container__frame {
            width: 100%;
        }
    }
    .container {
        max-width: 80%;
        flex-direction: column;
        &__section {
            width: 100%;
        }
        &__macbook {
            margin: 0 auto;
            display: block;
            width: 100%;
        }
    }
    .browser-section__image {
        width: 100%;
    }
    .try-now-section {
        .form {
            flex-direction: column;
            align-items: center;
            &__input-wrapper {
                padding: 0 14px;
                width: 260px;
            }
            &__input {
                margin: 0 0 16px 0;
            }
            .submit-wrapper {
                width: 260px;
            }
        }
    }
    .footer-email-element {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .footer-email-block {
        padding: 0px 10px 0px 40px;
    }
    .social-networks {
        text-align: center;
        min-width: 200px;
    }
    .footer {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media screen and (max-width: 425px) {
    .intro-section {
        height: auto;
        padding: 20px;
        .intro-content__header {
            font: 100 40px/1.25 'Exo', serif;
        }
        .intro-content__additional-text {
            color: #f6f5f3;
        }
    }
    .new-design-section {
        padding: 20px;
    }
    .resposive-design-section {
        padding: 20px;
        .container__macbook {
            padding: 0 0 20px 0;
        }
    }
    .browser-section {
        padding: 20px 20px 0 20px;
    }
    .try-now-section {
        padding: 20px;
    }
}